/* Raiz */
:root {
    --primary: #2C9CB3;
    --primary-dark: #2C9CB3;
    --secondary: hsl(25, 99%, 63%);
    --secondary-dark: hsl(25, 99%, 60%);
    --white: #f5f9fa;
    --white2: #ebf3f5;
    --gray: #e1e4e5;
    --gray2: #c0c6c9;
    --gray3: #4b4c4d;
    --black: #323333;
    --black2: #2a2b2b;
}

/* Fuentes */
body {
    font-family: 'Montserrat', sans-serif;
    color: var(--gray3);
    text-align: center;
    font-size: 14px;
}

header, footer, section.even {
    color: var(--white);
}

h3 {
    font-size: 2rem;
}

h2, h3, p {
    letter-spacing: 0.3rem;
}

h1, h3 {
    text-transform: uppercase;
}

p {
    font-size: 1.5rem;
}

/* Secciones de HTML*/
html {
    background: linear-gradient(var(--white), var(--white2));
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#navegacion, section.even {
    background: linear-gradient(var(--primary), var(--primary-dark));
}

footer {
    background: linear-gradient(var(--black), var(--black2));
    padding: 2rem 0;
}

hr {
    height: 0.1rem;
    max-width: 100%;
    border: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--primary), rgba(0, 0, 0, 0));
}

section.even hr {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--white), rgba(0, 0, 0, 0));
}

section hr {
    margin-bottom: 5rem;
}
.volver-inicio {
  text-align: center;
  margin-top: 30px;
}

.volver-inicio .btn {
  padding: 10px 20px;
  background-color: #337ab7;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.volver-inicio .btn:hover {
  background-color: #286090;
}

/* Cabecera */
header {
    padding: 5rem 0 3rem;
    position: relative;
    overflow: hidden;
    background: linear-gradient(var(--black), var(--black2));
    background: url(../imagenes/Fondo-principal-header.jpg);
    background-position: center;
    background-size: cover;
}
.content-header {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  text-align: center;
}

.content-header h1,
.content-header p {
  color: black;
}

header img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    opacity: 0.1;
}

/* Navegación */
#navegacion {
    box-shadow: 0px 0px 10px 1px var(--gray3);
}

#navegacion div {
    display: flex;
    justify-content: space-between;
}

#navegacion div a {
    padding: 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black);
}

#navegacion div a:hover {
    color: var(--white);
    transition: color .3s ease, color .3s ease;
}

#navegacion button {
    background-color: transparent;
    color: var(--white);
    font-size: 1.5rem;
    padding: .2rem .7rem;
    margin: .7rem;
    border: none;
    cursor: pointer;
}

#navegacion.abrir button {
    background-color: var(--black);
    color: var(--white);
    border-radius: 2rem;
}

#navegacion ul {
    background: linear-gradient(var(--primary), var(--primary-dark));
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0;
    margin: 0;
    max-height: 0;
    transition: max-height .3 ease;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

#navegacion.abrir ul {
    max-height: 300px;
}

#navegacion li {
    list-style: none;
    padding: 0;
}

#navegacion ul a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--white);
    transition: color .3s ease, background-color .3s ease;
}

#navegacion ul a:hover, #navegacion ul a:focus {
    color: var(--black);
    background-color: var(--white);
}

.navegacion-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

#toggle:hover {
    background-color: var(--black);
}

#active {
    background-color: var(--primary-dark);
}

/* Cuerpo Peceras */
#Peceras {
    background: var(--white);
}

#Peceras div a {
    text-decoration: none;
    color: var(--white);
}

#Peceras img {
    background: white;
    width: 300px;
    height: 300px;
    padding: 2rem;
    border: 5px solid var(--primary);
    border-radius: 25px;
    cursor: pointer;
    transition: border-radius .3s ease, box-shadow .3s ease;
}

#Peceras img:hover {
    border-radius: 0;
    box-shadow: 0px 0px 10px 1px var(--gray2);
}

#Peceras p {
    font-size: 1rem;
    margin-bottom: 3rem;
    color: var(--black);
}

/* Cuerpo Peces */
#Peces {
    background: var(--primary);
}

#Peces div a {
    text-decoration: none;
    color: var(--black2);
}

#Peces img {
    background: white;
    width: 300px;
    height: 300px;
    padding: 2rem;
    border: 5px solid var(--primary);
    border-radius: 25px;
    cursor: pointer;
    transition: border-radius .3s ease, box-shadow .3s ease;
}

#Peces img:hover {
    border-radius: 0;
    box-shadow: 0px 0px 10px 1px var(--gray2);
}

#Peces p {
    font-size: 1rem;
    margin-bottom: 3rem;
}

/* Cuerpo Mantenimiento */
#Mantenimiento {
    background: var(--white);
}
#Mantenimiento div a {
    text-decoration: none;
    color: var(--white);
}

#Mantenimiento img {
    background: white;
    width: 300px;
    height: 300px;
    padding: 2rem;
    border: 5px solid var(--primary);
    border-radius: 25px;
    cursor: pointer;
    transition: border-radius .3s ease, box-shadow .3s ease;
}

#Mantenimiento img:hover {
    border-radius: 0;
    box-shadow: 0px 0px 10px 1px var(--gray2);
}

#Mantenimiento p {
    font-size: 1rem;
    margin-bottom: 3rem;
    color: var(--black);
}

/* Cuerpo Alimentación */
#Alimentación {
    background: var(--primary);
}

#Alimentación div a {
    text-decoration: none;
    color: var(--black2);
}

#Alimentación img {
    background: white;
    width: 300px;
    height: 300px;
    padding: 2rem;
    border: 5px solid var(--primary);
    border-radius: 25px;
    cursor: pointer;
    transition: border-radius .3s ease, box-shadow .3s ease;
}

#Alimentación img:hover {
    border-radius: 0;
    box-shadow: 0px 0px 10px 1px var(--gray2);
}

#Alimentación p {
    font-size: 1rem;
    margin-bottom: 3rem;
}

/* Cuerpo Plantas */
#Plantas {
    background: var(--white);
}
#Plantas div a {
    text-decoration: none;
    color: var(--white);
}

#Plantas img {
    background: white;
    width: 300px;
    height: 300px;
    padding: 2rem;
    border: 5px solid var(--primary);
    border-radius: 25px;
    cursor: pointer;
    transition: border-radius .3s ease, box-shadow .3s ease;
}

#Plantas img:hover {
    border-radius: 0;
    box-shadow: 0px 0px 10px 1px var(--gray2);
}

#Plantas p {
    font-size: 1rem;
    margin-bottom: 3rem;
    color: var(--black);
}

/* Boton Inicio de Sesión */
#btnSesion {
    text-decoration: none;
    background: var(--secondary-dark);
    padding: 10px;
    border-radius: 5px;
    color: var(--white);
}

/* Descripciones */
.Descripcion {
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid var(--primary-dark);
    background: var(--secondary-dark);
}

.Descripcion img {
    width: 350px;
    height: 300px;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 5px;
}

.Descripcion h1, p {
    color: var(--white);
}

.Descripcion p {
    text-align: justify;
}

